[submodule "verifier-mock"]
	path = verifier-mock
	url = git@github.com:makimo/verifier-mock.git
[submodule "rating-service"]
	path = rating-service
	url = git@github.com:makimo/kajappka-rating-service.git
[submodule "vote-service"]
	path = vote-service
	url = git@github.com:makimo/kajappka-vote-service.git
